{% extends "base.html" %}

{% block page_content %}
 <div id="container">
      
      <div class="clearer"></div>
      <article class="main-column">
          <h1>about</h1>
  <h2 id="personal-links">Personal Links</h2>
<ul>
<li><a href="http://www.github.com/rh01">http://www.github.com/rh01</a></li>
</ul>
<h2 id="contact-details">Contact Details</h2>
<ul>
<li>Email: heng960509 <em>AT</em> gmail <em>DOT</em> com</li>
</ul>
<h2 id="links">Links</h2>
<p><em>(in (almost) no special order)</em></p>
<ul>

</ul>
<h2 id="contact-details">ppt</h2>

<ul>
<li>演示文档,<a href="http://iotppt.github.io/%E5%AF%86%E7%A0%81%E5%AD%A6.html">点击我</a></li>
</ul>
</li>

</ul>

      <div class="clearer"></div>
     
{% endblock %}
